{% extends "employeeBase.html" %} 
{% block content %}
<div class="d-flex flex-row align-items-start justify-content-start mt-2 w-100">
    {% include '/includes/accountProfilePicture.html' %}
    <div class="d-flex flex-grow-1 flex-column align-items-start justify-content-start ms-5 mt-2">
        <div class="d-flex flex-row align-items-start justify-content-between w-100">
            <div class="">
                <h2 class="fs-1 fw-bold pb-1">Koh Ben Hin Isaac</h2>
                <h3 class="fs-3 fw-normal">Super Administrator</h3>
            </div>
            {% with link='employeeInformation', label='Edit', color='primary' %}
                {% include '/includes/customButtonComponent.html' %}
            {% endwith %}
        </div>
        <div class="row row-cols-2 w-100 mt-4">
            {% with label='Email', data='isaackoh88@gmail.com' %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
            {% with label='Contact number', data='9734 8741' %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
            {% with label='Address', data='isaackoh88@gmail.com' %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
            {% with label='Account creation date', data='19 August 2020' %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
        </div>
    </div>
</div>
<h2 class="fs-2 fw-bold mt-5">Account Permissions</h2>
<div class="d-flex flex-row flex-wrap align-items-start justify-items-start mt-2 w-100">
    {% with link='employeeInformation', label='Edit', color='primary' %}
        {% include '/includes/customButtonComponent.html' %}
    {% endwith %}
</div>
{% endblock %}