{% extends "employeeBase.html" %} 
{% set permissions = {1:"Super Administrator", 2:"Employee"} %}

{% block content %}
<div class="d-flex flex-row align-items-start justify-content-start mt-2 w-100">
    {% include '/includes/accountProfilePicture.html' %}
    <div class="d-flex flex-grow-1 flex-column align-items-start justify-content-start ms-5 mt-2">
        <div class="d-flex flex-row align-items-start justify-content-between w-100">
            <div class="">
                <h2 class="fs-1 fw-bold pb-1">{{ employee.username }}</h2>
                <h3 class="fs-3 fw-normal">{{ permissions[employee.permissions] }}</h3>
            </div>
        </div>
        <div class="row row-cols-2 w-100 mt-4">
            {% with label='Email', data=employee.email %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
            {% with label='Contact number', data=employee.contact_no %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
            {% with label='Address', data=employee.address %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
            {% with label='Account creation date', data=employee.creation_datetime %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}