node_modules
venv
__pycache__
app/__pycache__
app/static/styles/Main.css
app/site.db
ssl.crt
ssl.key
.env
.flaskenv
db.sqlite3
new_db.py
new_ssl.py
package-lock.json
package.json
postcss.config.js
requirements.py
tailwind.config.js