{% extends "base.html" %}

{% block content %}
<section class="form-container p-1 d-flex justify-content-around align-items-center">
    <img class="col-md-5 d-none d-md-none d-lg-block" src="/static/public/Secure_login.svg">

    <div class="login col-md-7">
        <h1 id="title" class="text-center font-weight-bold display-4">Login</h1>

        <form method="post">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.email(class="form-control") }}
                {% endif %}
            </div><!--form-group-->


            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.password(class="form-control") }}
                {% endif %}
            </div><!--form-group-->


            <div class="forgot">
                <a href="{{url_for('reset_request')}}" class="forgot_link">Forgot Password?</a>
            </div><!--forgot-->

            <div class="form-group">
                {{ form.submit(id="login_btn") }}
            </div>


            <div class="form-group text-center" id="dark">
                <a href="{{auth_url}}" class="btn btn-outline-dark">
                    <i class="bi bi-google"></i>
                    Login with Google
                </a>
            </div><!--form-group-->

            <div id="not_member" class="text-center">
            Not a member?  
            <a href="{{url_for('register')}}" id="sign_up_link">Sign Up</a>
            </div><!--not_member-->

        </form>
    </div><!--login-->
</section><!--form-container-->

{% endblock %}