{% extends "base.html" %} 

{% block content %}
<section class="form-container p-1 d-flex justify-content-around align-items-center">
    <img class="col-md-5 d-none d-md-none d-lg-block" src="/static/public/Secure_login.svg">

    <div class="sign_up col-md-7">
        <h1 id="title" class="text-center font-weight-bold display-4">Sign Up</h1>

        <form method="post">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.username(class="form-control") }}
                {% endif %}
            </div><!--form-group-->

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.email(class="form-control") }}
                {% endif %}
            </div><!--form-group-->

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.password(class="form-control") }}
                {% endif %}
            </div><!--form-group-->
            
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.confirm_password(class="form-control") }}
                {% endif %}
            </div><!--form-group-->
            
            
            <div class="form-check">
                {{ form.terms_and_conditions(class="form-check-input") }}
                {% if form.terms_and_conditions.errors %}
                    {{ form.terms_and_conditions(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.terms_and_conditions.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.terms_and_conditions.label(class="form-check-label") }} <span style="color: red;">*</span>
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.submit(id="sign_up_btn") }}
            </div>
        </form>
    </div><!--login-->
</section><!--form-container-->
{% endblock %}
