{% extends "employeeBase.html" %} 
{% set addRequest = False %}

{% block content %}
<div class="d-flex flex-row align-items-start justify-content-between mt-2 w-100">
    <h2 class="fs-1 fw-bold pb-1">Inventory</h2>
    <div onclick="addItemForm()">
        {% with iconSrc='/static/public/icons/whiteAdd.png', color='primary' %}
            {% include '/includes/squareButtonComponent.html' %}
        {% endwith %}
    </div>
</div>
<div class="d-flex flex-column align-items-start justify-content-start mt-4 w-100">
    <table class="w-100 tw-bg-white tw-shadow-xl tw-rounded-xl overflow-hidden">
        <tr>
            <th class="tw-w-36 tw-h-12 tw-text-center">ID</th>
            <th class="tw-h-12 tw-text-center">Part Name</th>
            <th class="tw-w-36 tw-h-12 tw-text-center">Cost</th>
            <th class="tw-w-36 tw-h-12 tw-text-center">Quantity</th>
        </tr>
        <tbody>
            {% for row in inventoryData %}
            <tr class="tw-bg-white hover:tw-bg-neutral-100 tw-transition-colors tw-duration-200 tw-cursor-pointer" onclick="window.location.href='{{url_for('inventoryPartDetails', partID=row.id)}}';">
                <td class="tw-w-36 tw-h-12 tw-text-center">{{ row.id }}</td>
                <td class="tw-h-12 tw-text-center">{{ row.partName }}</td>
                <td class="tw-w-36 tw-h-12 tw-text-center">${{ "%.2f" % row.partCost }}</td>
                <td class="tw-w-36 tw-h-12 tw-text-center">{{ row.partQuantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // show add item form
    const addItemForm = () => {
        modal = document.getElementById('addItemForm');
        modal.classList.remove('tw-hidden')
        modal.classList.add('tw-flex')
    }

    // hide add item form
    const closeAddItemForm = () => {
        modal = document.getElementById('addItemForm');
        modal.classList.remove('tw-flex')
        modal.classList.add('tw-hidden')
    }
</script>
{% endblock %}

{% block modalContent %}
<div class="tw-hidden tw-fixed tw-items-center tw-justify-center tw-inset-0 tw-h-screen tw-w-screen tw-bg-gray-700/20" id="addItemForm">
    <div class="tw-relative tw-flex tw-flex-col tw-items-start tw-justify-start tw-w-[900px] tw-bg-white tw-rounded-3xl tw-p-4">
        <h1 class="fs-2 fw-bold pb-1 mt-2 ms-2">Add New Item</h1>
        <form class="w-100" method="post" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="tw-flex tw-items-center tw-justify-center bg-primary tw-py-3.5 tw-px-5 tw-rounded-xl mt-3">
                {{ form.picture.label(class="form-control-label tw-text-sm tw-font-bold tw-text-white me-2") }}
                {{ form.picture(class="tw-text-sm tw-font-medium tw-tracking-wide tw-text-white tw-whitespace-nowrap", style='width:15em;') }}
            </div>
            {% if form.picture.errors %}
            <div class="text-danger">
                {% for error in form.picture.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {% endif %}
            <div class="form-group my-2">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form.name(class="form-control form-control") }}
            </div><!--form-group-->

            <div class="form-group my-2">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form.description(class="form-control form-control") }}
            </div><!--form-group-->

            <div class="form-group my-2">
                {{ form.cost.label(class="form-control-label") }}
                {% if form.cost.errors %}
                    {{ form.cost(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.cost.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form.cost(class="form-control form-control") }}
            </div><!--form-group-->

            <div class="form-group my-2">
                {{ form.quantity.label(class="form-control-label") }}
                {% if form.quantity.errors %}
                    {{ form.quantity(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.quantity.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form.quantity(class="form-control form-control") }}
            </div><!--form-group-->

            <div class="form-group my-2 mt-3">
                {{ form.submit(id="sign_up_btn") }}
            </div>
        </form>
        <div class="tw-absolute tw-top-4 tw-right-4" onclick="closeAddItemForm()">
            {% with iconSrc='/static/public/icons/whiteClose.png', color='primary' %}
                {% include '/includes/squareButtonComponent.html' %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
