{% extends "employeeBase.html" %} 
{% set addRequest = False %}

{% block content %}
<div class="d-flex flex-row align-items-start justify-content-between mt-2 w-100">
    <h2 class="fs-1 fw-bold pb-1">Inventory</h2>
    <div class="d-flex flex-row">
        <a class="me-3" href="{{url_for('inventoryPartDetails', partID=part.id)}}">
            <div class="tw-flex tw-items-center tw-justify-center bg-primary tw-py-3.5 tw-px-5 tw-rounded-xl hover:tw-shadow-lg tw-transition-shadow tw-duration-200">
                <p class="tw-text-sm tw-font-medium tw-tracking-wide tw-text-white tw-whitespace-nowrap">Cancel</p>
            </div>
        </a>
        <a href="{{url_for('inventoryPartDetailsDelete', partID=part.id)}}">
            <div class="tw-flex tw-items-center tw-justify-center bg-danger tw-py-3.5 tw-px-5 tw-rounded-xl hover:tw-shadow-lg tw-transition-shadow tw-duration-200">
                <p class="tw-text-sm tw-font-medium tw-tracking-wide tw-text-white tw-whitespace-nowrap">Delete part</p>
            </div>
        </a>
    </div>
</div>
<div class="mt-4 w-100">
    <form class="d-flex flex-row align-items-start justify-content-start w-100" method="post" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="d-flex flex-column align-items-center justify-content-start">
            <img class="tw-h-96 tw-w-96" src="/static/src/part_pics/{{ part.partPicture }}" />
            <div class="tw-flex tw-items-center tw-justify-center bg-primary tw-py-3.5 tw-px-5 tw-rounded-xl mt-3">
                {{ form.picture(class="tw-text-sm tw-font-medium tw-tracking-wide tw-text-white tw-whitespace-nowrap", style='width:15em;') }}
            </div>
            {% if form.picture.errors %}
            <div class="text-danger">
                {% for error in form.picture.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {% endif %}
        </div>
        <div class="d-flex flex-column flex-grow-1 align-items-start justify-content-start ms-4">
            <div class="form-group my-2 w-100">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form.name(class="form-control form-control", value=part.partName) }}
            </div><!--form-group-->

            <div class="form-group my-2 w-100">
                {{ form.cost.label(class="form-control-label") }}
                {% if form.cost.errors %}
                    {{ form.cost(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.cost.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form.cost(class="form-control form-control", value="%.2f"%part.partCost) }}
            </div><!--form-group-->

            <div class="form-group my-2 w-100">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form.description(class="form-control form-control") }}
            </div><!--form-group-->

            <div class="form-group my-2 w-100">
                {{ form.submit(id="sign_up_btn") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}