{% extends "employeeBase.html" %} 
{% set permissionsMap = {1:"Super Administrator", 2:"Employee"} %}

{% block content %}
<div class="d-flex flex-column align-items-start justify-content-start mt-2 w-100">
    <div class="d-flex flex-row align-items-start justify-content-between w-100">
        <h2 class="fs-1 fw-bold pb-1">Employee Information</h2>
        <a class="" href="{{url_for('employeeInformation')}}">
            <div class="tw-flex tw-items-center tw-justify-center bg-primary tw-py-3.5 tw-px-5 tw-rounded-xl hover:tw-shadow-lg tw-transition-shadow tw-duration-200">
                <p class="tw-text-sm tw-font-medium tw-tracking-wide tw-text-white tw-whitespace-nowrap">Cancel</p>
            </div>
        </a>
    </div>
    <form class="d-flex flex-row align-items-start justify-content-start w-100 mt-4" method="post" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="d-flex flex-column align-items-center justify-content-start">
            {% with image=user.picture %}
                {% include '/includes/accountProfilePicture.html' %}
            {% endwith %}
            <div class="tw-flex tw-items-center tw-justify-center bg-primary tw-py-3.5 tw-px-5 tw-rounded-xl mt-3">
                {{ form.picture(class="tw-text-sm tw-font-medium tw-tracking-wide tw-text-white tw-whitespace-nowrap", style='width:15em;') }}
            </div>
            {% if form.picture.errors %}
            <div class="text-danger">
                {% for error in form.picture.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {% endif %}
        </div>
        <div class="d-flex flex-column flex-grow-1 align-items-start justify-content-start ms-5 mt-2">
            <div class="d-flex flex-column align-items-start justify-content-start w-100 mb-2">
                <h2 class="fs-1 fw-bold pb-1">{{ user.username }}</h2>
                <h3 class="fs-3 fw-normal">{{ permissionsMap[user.permissions] }}</h3>
            </div>
            <div class="row row-cols-2 w-100 mx-0">
                <div class="col px-0 form-group my-2 pe-2">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control", value=user.email) }}
                    {% endif %}
                </div><!--form-group-->

                <div class="col px-0 form-group my-2 ps-2">
                    {{ form.contact.label(class="form-control-label") }}
                    {% if form.contact.errors %}
                        {{ form.contact(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.contact.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.contact(class="form-control form-control", value=user.contact_no) }}
                    {% endif %}
                </div><!--form-group-->
            </div>

            <div class="form-group my-2 w-100">
                {{ form.address.label(class="form-control-label") }}
                {% if form.address.errors %}
                    {{ form.address(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address(class="form-control form-control", value=user.address) }}
                {% endif %}
            </div><!--form-group-->

            <div class="form-group my-2 w-100">
                {{ form.submit(id="sign_up_btn") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}