<div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{url_for('home')}}">
                Vision Core
            </a>
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="offcanvas" 
                data-bs-target="#offcanvasNavbar" 
                aria-controls="offcanvasNavbar"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Vision Core</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-4">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home')}}">
                                <div class="nav-item-container d-flex align-items-center justify-content-center">
                                    <p class="nav-underline-effect">Home</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('about')}}">
                                <div class="nav-item-container d-flex align-items-center justify-content-center">
                                    <p class="nav-underline-effect">About Us</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{{url_for('faq')}}">
                                <div class="nav-item-container d-flex align-items-center justify-content-center">
                                    <p class="nav-underline-effect">FAQ</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end d-flex">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('account')}}">
                                {% with label='Account', color='Secondary' %}
                                    {% include '/includes/customButtonComponent.html' %}
                                {% endwith %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('logout')}}">
                                {% with label='Logout', color='Secondary' %}
                                    {% include '/includes/customButtonComponent.html' %}
                                {% endwith %}
                            </a>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('login')}}">
                                    {% with label='Login', color='Secondary' %}
                                        {% include '/includes/customButtonComponent.html' %}
                                    {% endwith %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('register')}}">
                                    {% with label='Sign Up', color='Primary' %}
                                        {% include '/includes/customButtonComponent.html' %}
                                    {% endwith %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
