{% extends "employeeBase.html" %} 
{% set permissions = {1:"Super Administrator", 2:"Employee"} %}

{% block content %}
<div class="d-flex flex-column align-items-start justify-content-start mt-2 w-100">
    <div class="d-flex flex-row align-items-start justify-content-between w-100">
        <h2 class="fs-1 fw-bold pb-1">Employee Management</h2>
        <a href="{{url_for('employeeManagementDetailsEdit', employeeID=employee.id)}}">
            <div class="tw-flex tw-items-center tw-justify-center bg-primary tw-py-3.5 tw-px-5 tw-rounded-xl hover:tw-shadow-lg tw-transition-shadow tw-duration-200">
                <p class="tw-text-sm tw-font-medium tw-tracking-wide tw-text-white tw-whitespace-nowrap">Edit</p>
            </div>
        </a>
    </div>
    <div class="d-flex flex-row align-items-start justify-content-start w-100 mt-4">
        {% with image=employee.picture %}
            {% include '/includes/accountProfilePicture.html' %}
        {% endwith %}
        <div class="d-flex flex-grow-1 flex-column align-items-start justify-content-start ms-5 mt-2">
            <div class="d-flex flex-row align-items-start justify-content-start w-100">
                <div class="">
                    <h2 class="fs-1 fw-bold pb-1">{{ employee.username }}</h2>
                    <h3 class="fs-3 fw-normal">{{ permissions[employee.permissions] }}</h3>
                </div>
            </div>
            <div class="w-100">
                <div class="row row-cols-2 w-100 mt-4 mx-0">
                    {% with label='Email', data=employee.email %}
                        {% include '/includes/accountDetailGridItem.html' %}
                    {% endwith %}
                    {% with label='Contact number', data=employee.contact_no %}
                        {% include '/includes/accountDetailGridItem.html' %}
                    {% endwith %}
                    {% with label='Address', data=employee.address %}
                        {% include '/includes/accountDetailGridItem.html' %}
                    {% endwith %}
                    {% with label='Account creation date', data=employee.creation_datetime %}
                        {% include '/includes/accountDetailGridItem.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}