{% extends "customer/base.html" %}

{% block customerContent %}
<div class="d-flex flex-row align-items-center justify-content-between mb-4">
    <h1 class="display-6 fw-bold d-inline-block align-middle">Personal Information</h1>
    <div class="deactivate-btn">
        {% with link='deactivateAccount', label='Deactivate', color='danger' %}
        {% include '/includes/customButtonComponent.html' %}
    {% endwith %}
    </div>
    {% with link='editCustomerAccount', label='Edit', color='primary' %}
        {% include '/includes/customButtonComponent.html' %}
    {% endwith %}
</div>
<div class="d-flex flex-row align-items-start justify-content-start pt-2">
    <div class="me-5">
        {% if userData['picture'] %}
            <div class="tw-h-64 tw-w-64 rounded-circle d-flex align-items-center justify-content-center">
                <img src="{{ userData['picture'] }}" alt="Profile Picture" class="border rounded-circle" style="height:256px;width:256px;">
            </div>
        {% else %}
            {% include '/includes/accountProfilePicture.html' %}
        {% endif %}
    </div>
    <div class="d-flex flex-grow-1 flex-column align-items-start justify-content-start mt-2">
        <h2 class="fs-3 fw-bold pb-1">{{userData['username']}}</h2>
        <h3 class="fs-4 fw-normal">Customer</h3>
        <div class="row row-cols-2 w-100 mt-4">
            {% with label='Email', data=userData['email'] %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
            {% with label='Contact number', data=userData['contact_no'] %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
            {% with label='Address', data=userData['address'] %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
            {% with label='Account creation date', data=userData['creation_datetime'] %}
                {% include '/includes/accountDetailGridItem.html' %}
            {% endwith %}
        </div>
    </div>
</div>
{%endblock%}