{% extends "customer/base.html" %}
{% block title %}Personal Information{% endblock %}

{% block customerContent %}
<div class="d-flex flex-row align-items-center justify-content-between mb-3">
    <h1 class="display-6 d-inline-block align-middle fw-bold" id="p_info_h1">Personal Information</h1>
    {% with link='editCustomerAccount', label='Edit', color='primary' %}
        {% include '/includes/customButtonComponent.html' %}
    {% endwith %}
</div>
<div class="card" id="p_card1">
    <div class="card-body">
        <div class="col-md-12 col-sm-12 d-flex flex-xs-column flex-sm-column flex-md-row justify-content-md-around align-items-center">
            <div class="col-6 text-center">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg> -->
                <i class="bi bi-person-fill d-flex justify-content-center" style="font-size: 180px;"></i>
                <p class="inline-block fw-bold" id="cus_name">{{ username }}</p>
            </div>

            <div class="col-md-6 mt-sm-3 mt-xs-3 m-md-auto md-lg-auto" id="p_info2">
                <p><b>Email:</b> {{ email }}</p>
                <p><b> Phone No. :</b> +65 9876 5432   <i class="bi bi-star-fill"></i></p>
                <p><b>Address:</b> Ang Mo Kio Street 1, Blk 69, #04-20, 696969</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}