{% extends "customer/base.html" %}
{% block title %}My Requests{% endblock %}

{% block customerContent %}
<div class="d-flex flex-row align-items-center justify-content-between mb-4">
    <h1 class="display-6 fw-bold d-inline-block align-middle">My Requests</h1>
    <div class="d-flex flex-row align-items-center justify-content-center">
        <div class="me-2" id="cart_btn">
            <a href="{{ url_for('customerCart') }}">
            <div class="tw-cursor-pointer tw-flex tw-items-center tw-justify-center bg-primary tw-h-12 tw-w-12 tw-rounded-xl hover:tw-shadow-lg tw-transition-shadow tw-duration-200">
                <i class="bi bi-cart-fill text-white" style="font-size:1.5em;"></i>                
            </div>
            </a>
    </div>
        <div class="ms-2">
            <div class="tw-cursor-pointer tw-flex tw-items-center tw-justify-center bg-primary tw-h-12 tw-w-12 tw-rounded-xl hover:tw-shadow-lg tw-transition-shadow tw-duration-200">
                <i class="bi bi-chat-left-fill text-white" style="font-size:1.2em;"></i>                
            </div>
        </div>
    </div>
</div>

<div class="d-flex felx-row align-items-start justify-content-start tw-bg-white tw-rounded-3xl tw-shadow-xl tw-p-5">
    <img class="tw-h-64 tw-w-64" src="../static/public/Gigabyte_X570_Aorus_Pro_Wifi.png">
    <div class="d-flex flex-grow-1 flex-column align-items-start justify-content-between tw-h-64 ms-4">
        <div class="d-flex flex-column align-items-start justify-content-start w-100">
            <p class="fs-3 fw-bold pb-1">Gigabyte X570 | Aorus Pro Wifi</p>
            <p><b> Date Requested: </b> 19 October 2021</p>
            <p><b>Issue Description: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-end w-100">
            <div class="me-2">
                {% with label='Pending Quote', color='warning' %}
                    {% include '/includes/customButtonComponent.html' %}
                {% endwith %}
            </div>
            <div class="ms-2">
                <div class="tw-cursor-pointer tw-flex tw-items-center tw-justify-center bg-primary tw-h-12 tw-w-12 tw-rounded-xl hover:tw-shadow-lg tw-transition-shadow tw-duration-200">
                    <i class="bi bi-plus text-white" style="font-size:2em;"></i>                
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}