{% extends "base.html" %}

{% block content %}
<section class="about-content">
    <div class="container d-flex justify-content-center align-items-center flex-md-row">
        <div class="text col-md-6 d-flex flex-column">

            <!-- <strong class="hero-text-4 font-weight-bold">About Us</strong> -->

            <div class="about">
                
                <h1 class="display-5">Our Vision</h1>
                <p class="lead">Founded in 2021 by our visionary Isaac Koh, Vision Core aims to bring customers the most seamless electronic repair experience, and, above all, remain a trusted business for years to come.</p>
            </div><!--about-->
        </div>

        <img
            class="col-md-6 d-sm-none d-md-block"
            src="/static/public/Bug_fixing.svg"
        />       
    </div>

    <br>

    <div class="container d-flex justify-content-center align-items-center flex-md-row">
        <div class="text col-md-10 d-flex flex-column">
            
            <div class="team">

                <h1 class="display-5 text-center">Our Team</h1>
                <div class="container d-flex justify-content-center align-items-center flex-md-row">
                    <div class="text col-md-10 d-flex flex-column text-center">
                            <p class="h4 text-center">Isaac Koh</p>
                            <p class="lead">Our visionary, project manager and overall in-charge.</p>

                            <p class="h4 text-center">Chin Shuan</p>
                            <p class="lead">Our designer, bringing the minimalist and clean finish to our site.</p>

                            <p class="h4 text-center">Yuewei</p>
                            <p class="lead">Our lead developer, coordinating front-end and back-end together.</p>
                    
                            <p class="h4 text-center">Jon</p>
                            <p class="lead">Our front-end developer, putting together our user interfaces.</p>
                            
                            <p class="h4 text-center">Guan Feng</p>
                            <p class="lead">Our back-end developer, without him, this website would probably be static.</p>

                    </div>
                </div>

            </div><!-- team -->

        </div>

    </div>   
</section><!--about-content-->

<section class="footer">
    <div class="links d-flex justify-content-around align-items-center">
        <ul class="col-left list-unstyled">
            <li class="list-title font-weight-bold">Partnerships</li>
            <!--list-item-->
            <i class="bi bi-apple list-item text-center"></i>
            <i class="bi bi-google list-item text-center"></i>
            <i class="bi bi-exclude list-item text-center"></i>
            <i class="bi bi-microsoft list-item text-center"></i>
        </ul>
        <!--col-left-->

        <ul class="col-right list-unstyled d-flex justify-content-center align-items-center">
            <div class="link text-center inline-item">
                <a href="#" class="list-item"> <i class="bi bi-facebook"></i> </a
                ><!--list-item-->
            </div>
            <!--link1-->
    
            <div class="link text-center inline-item">
                <a href="#" class="list-item"> <i class="bi bi-instagram"></i> </a
                ><!--list-item-->
            </div>
            <!--link2-->
    
            <div class="link text-center inline-item">
                <a href="#" class="list-item"> <i class="bi bi-linkedin"></i> </a
                ><!--list-item-->
            </div>
            <!--link3-->
        </ul>
        <!--col-right-->
    </div>
    <!--links-->

    <p class="company text-center">+65 9812 3456 &middot Vision Core &copy</p>
</section>
<!--footer-->
{% endblock %}

