{% extends 'base.html' %} 
{% block content %}
<section class="container-fluid" id="faq-container">
  <h1 class="fs-1 fw-bold mt-4 ms-4 mb-3">FAQ</h1>
  <div class="accordion" id="accordionContainer">
    {% for faq in collapse %}
      <div class="card">
        <div class="card-header" id="faq-title">
          <h2 class="mb-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#panel{{collapse.index(faq)}}" aria-expanded="true" aria-controls="panel{{collapse.index(faq)}}">
              {{collapse.index(faq)+1}}. {{ faq['question'] }}
            </button><!--btn-->
          </h2><!--mb-0-->
        </div><!--card-header-->
        
        <div id="panel{{collapse.index(faq)}}" class="collapsing" aria-labelledby="faq-title" data-parent="#accordionContainer">
          <div class="card-body">
            {{ faq ['answer'] }}
          </div><!--card-body-->
        </div><!--collapse-->
      </div><!--card-->
    {% endfor %}
  </div><!--accordion-->
</section>

{% endblock %}
