{% extends 'base.html' %} 
{% block content %}
<section class="container-fluid" id="faq-container">
  <h1 class="fs-1 fw-bold mt-4 ms-4">FAQ</h1>
  <div id="accordion">
    {% for faq in collapse %}
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary-outline" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
          {{collapse.index(faq)+1}}. {{ faq['question'] }}
        </button><!--card-title-->
      </div><!--card-header-->

      <div class="card-content collapse" id="collapseOne">
        {{ faq['answer'] }}
      </div><!--card-content-->

    </div><!--card-->
    {% endfor %}
  </div><!--#accordion-->
</section>

{% endblock %}
