{% extends 'base.html' %} 
{% block content %}
<section class="container-fluid" id="faq-container">
  <h1 class="fs-1 fw-bold mt-4 ms-4">FAQ</h1>
  <div id="accordion">
    {% for faq in collapse %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="m-auto">
          <button class="btn btn-link" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            {{collapse.index(faq)+1}}. {{ faq['question'] }}
          </button><!--btn-link-->
        </h5><!--mb-0-->
      </div><!--card-header-->
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          {{ faq['answer'] }}
        </div><!--card-body-->
      </div><!--show-->
    </div><!--card-->
    {% endfor %}
  </div><!--#accordion-->
</section>

{% endblock %}
