{% extends "base.html" %}
{% block title %}Vision Core - About Us{% endblock %}

{% block content %}
<section class="main">
    <div class="about">
        <h3 class="display-4">About Us</h3>
        <h1 class="display-5">Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi soluta voluptatem iste nisi sit doloremque et blanditiis voluptate! Labore, sed?</p>
    </div><!--about-->

    <img class="bug" src="/static/public/Bug_fixing.svg">
</section><!--main-->

{% endblock %}

