{% extends "base.html" %}
{% block title %}Vision Core - About Us{% endblock %}

{% block content %}
<section class="about-content">
    <div class="about">
        <h3 class="display-4">About Us</h3>
        <h1 class="display-5">Our Vision</h1>
        <p class="display-6">Founded in 2013 by our visionary Isaac Koh, Vision Core aims to bring customers the most seamless electronic repair experience, and, above all, remain a trusted business for years to come.</p>
    </div><!--about-->

    <img class="bug" src="/static/public/Bug_fixing.svg">
</section><!--about-content-->

{% endblock %}

