{% extends "base.html" %}
{% block title %}Personal Information{% endblock %}

{% block content %}
<!-- <h1 class="display-4">My Account</h1>
<p>Add content</p> -->

<div class="row" id="cus_d">
    <div class="col-3">
        <nav class ="navbar navbar-light" id="cus_nav">
            <ul class ="nav navbar-nav">
                <li class ="nav-item">
                    <a class ="nav-link active" href="/cusInfo"> Personal Information </a>
                </li>
                <li class ="nav-item">
                    <a class ="nav-link" href="/cusReq"> My Requests </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-7" id="p_info1">
        <div class="container-fluid">
            <h1 class="display-6 d-inline-block align-middle" id="p_info_h1">Personal Information</h1>
            <button type="button" class="btn float-end" id="edit_btn">Edit</button>
            <div class="card" id="p_card1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>
                            <!-- <i class="bi bi-person-badge-fill center" style="font-size: 200px;"></i> -->
                        </div>
                        <div class="col-6" id="p_info2">
                            <p><b>Email:</b> isaackoh88@gmail.com</p>
                            <p><b> Phone No. :</b> +65 9876 5432   <i class="bi bi-star-fill"></i></p>
                            <p><b>Address:</b> Ang Mo Kio Street 1, Blk 69, #04-20, 696969</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <p class="inline-block align-middle" id="cus_name">Isaac Koh</p>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn float-end" id="reset_btn">Reset Password</button>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
{%endblock%}