{% extends "base.html" %}
{% block title %}My Requests{% endblock %}

{% block content %}
<div class="row" id="cus_d">
    <div class="col-3">
        <nav class ="navbar navbar-light" id="cus_nav">
            <ul class ="nav navbar-nav">
                <li class ="nav-item">
                    <a class ="nav-link" href="/cusInfo"> Personal Information </a>
                </li>
                <li class ="nav-item">
                    <a class ="nav-link active" href="/cusReq"> My Requests </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-7" id="p_info1">
        <div class="container-fluid">
            <h1 class="display-6 d-inline-block align-middle" id="p_info_h1">My Requests</h1>
            <button type="button" class="btn float-end" id="cart_btn"><i class="bi bi-cart-plus-fill"></i></button>
            <button type="button" class="btn float-end" id="chat_btn"><i class="bi bi-chat-right-fill"></i></button>
            <div class="card" id="p_card1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 text-center">
                            <img src="../static/public/Gigabyte_X570_Aorus_Pro_Wifi.png" id="cus_product1">
                        </div>
                        <div class="col-7" id="p_info2">
                            <p id="prod1_name">Gigabyte X570 | Aorus Pro Wifi</p>
                            <p><b> Date Requested: </b> 19 October 2021</p>
                            <p><b>Issue Description: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            <button type="button" class="btn float-end" id="moreOpt_btn"><i class="bi bi-three-dots"></i></button>
                            <div class="alert alert-danger d-inline-block float-end" role="alert" id="status">Pending Quote</div>
                            
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>

<div id="cart_popup" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>

      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" onclick="myFunction()">
      <div id="myDropdown" class="dropdown-content">
        <a href="#about">About</a>
        <a href="#base">Base</a>
        <a href="#blog">Blog</a>
        <a href="#contact">Contact</a>
        <a href="#custom">Custom</a>
        <a href="#support">Support</a>
        <a href="#tools">Tools</a>
      </div>

    </div>
  
</div>

<script>
    //cart popup
    var modal = document.getElementById("cart_popup");
    var btn = document.getElementById("cart_btn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    // searchbar
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
{%endblock%}