{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5 text-center">
    <h1 class="text-white">
        <i class="bi bi-tools"></i>
        Repair Service
    </h1>
    <p class="lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum molestiae fugiat vel dignissimos expedita praesentium pariatur. Veritatis, at omnis, ducimus similique, praesentium in eaque ipsam ratione quasi aperiam eos officia accusantium animi. Distinctio asperiores eligendi impedit similique voluptate delectus, minima quis corporis alias enim ipsam expedita eveniet totam at dolorum quam fugiat libero dolor, optio cum debitis veniam eius! Enim alias odit officia quisquam saepe corporis sint eligendi quis deleniti, obcaecati ipsam, culpa nisi nobis exercitationem nemo quibusdam veritatis eum dolores accusantium! Porro amet harum tempora sequi voluptates optio inventore recusandae error autem! Amet cupiditate dolorem quia optio eum sunt.</p>
</div>
{% endblock content %}