{% extends "base.html" %}
{% block title %}Vision Core - Home{% endblock %}

{% block content %}
<section class="hero">
    <div class="text">
        <h1 class='hero-text-4'>Top quality <br> repairs for your <br> computer parts</h1>
        <h4>Your go-to solution for all your computer <br> hardware repairs</h4>

        <ul class="btns">
            <button class="btn btn-primary">Request For Repair</button>
            <button class="btn btn-primary">Find Out More</button>
        </ul><!--btns-->
    </div><!--text-->

    <img src="../static/public/Gigabyte_X570_Aorus_Pro_Wifi.png">
</section><!--hero-->

<section class="services">
    <h1 class="title">Services We Provide</h1>

    <div class="service-content">
        <div class="left-col">
            <div class="service s1">
                <h3 class="service-no">Service 1</h3>
                <h2 class="service-name">Service Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum molestias eaque natus nisi nemo repudiandae tempora officia nam sequi laboriosam.</p>
            </div><!--s1-->
        
            <div class="service s2">
                <h3 class="service-no">Service 2</h3>
                <h2 class="service-name">Service Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum molestias eaque natus nisi nemo repudiandae tempora officia nam sequi laboriosam.</p>
            </div><!--s2-->
        </div><!--left-col-->
    
        <div class="right-col">
            <div class="service s3">
                <h3 class="service-no">Service 3</h3>
                <h2 class="service-name">Service Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum molestias eaque natus nisi nemo repudiandae tempora officia nam sequi laboriosam.</p>
            </div><!--s3-->
        
            <div class="service s4">
                <h3 class="service-no">Service 4</h3>
                <h2 class="service-name">Service Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum molestias eaque natus nisi nemo repudiandae tempora officia nam sequi laboriosam.</p>
            </div><!--s4-->
        </div><!--right-col-->
    </div><!--service content-->
</section><!--services-->

<section class="footer">
    <div class="links">
        <ul class="col-left">
            <li class="list-title">Partnerships</li><!--list-item-->
            <i class="bi bi-apple list-item"></i>
            <i class="bi bi-google list-item"></i>
            <i class="bi bi-exclude list-item"></i>
            <i class="bi bi-microsoft list-item"></i>
        </ul><!--col-left-->
    
        <ul class="col-right">
            <a href="#" class="list-item">
                <i class="bi bi-facebook"></i>
            </a><!--list-item-->

            <a href="#" class="list-item">
                <i class="bi bi-instagram"></i>
            </a><!--list-item-->

            <a href="#" class="list-item">
                <i class="bi bi-linkedin"></i>
            </a><!--list-item-->
        </ul><!--col-right-->
    </div><!--links-->

    <p class="company">Vision Core &copy</p>
</section><!--footer-->
{% endblock %}