{% extends "base.html" %}

{% block content %}
<section class="login-content">
    <img src="/static/public/Secure_login.svg">

    <form action="GET" class="details">
        <h2>Login</h2>

        <div class="form-group">
            <label for="username" class="display-6">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username">
        </div><!--form-group-->

        <div class="form-group">
            <label for="password" class="display-6">Password:</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
        </div><!--form-group-->

        <div class="form-group submit">
            <button type="submit" class="btn btn-primary btn-block">Login</button> <!--NEED TO CENTRALIZE-->
        </div><!--form-group-->
        
        <hr class="line">

        <button type="button" class="btn btn-outline-dark"> <!--NEED TO CENTRALIZE-->
            <i class="bi bi-google pe-2"></i>
            Login with Google
        </button>

        <button type="button" class="btn btn-outline-dark"> <!--NEED TO CENTRALIZE-->
            <i class="bi bi-microsoft pe-2"></i>
            Login with Microsoft
        </button>

    </form><!--details-->
</section><!--login-content-->
{% endblock %}