{% extends "base.html" %}

{% block content %}
<section class="login-content">
    <img src="/static/public/Secure_login.svg">

    <div class="form-container">
        <div class="form-title">Login</div>

        <form method="GET" id="form-details">
            <div class="form-group">
                <input type="text" class="form-control" id="username" required>
                <label for="username">Username</label>
            </div><!--form-group-->
    
            <div class="form-group">
                <input type="password" class="form-control" id="password" required>
                <label for="password">Password</label>
            </div><!--form-group-->

            <a href="#" class="forgot">Forgot Password?</a><!--forgot-->
    
            <div class="form-group remember">
                <input type="checkbox" name="Remember Me" id="remember">
                <label for="remember">Remember Me</label>
            </div><!--form-group-->
            
            <div class="form-group submit">
                <input class="login-btn" type="submit" value="Login">
            </div><!--form-group-->
    
            <div class="form-group sign-up-container">
               <span>Not a member?</span> 
               <a href="{{url_for('sign_up')}}" class="signUp-link" type="submit">Sign Up</a>
            </div><!--form-group-->
        </form>    

    </div><!--form-->

</section><!--login-content-->
{% endblock %}