{% extends "base.html" %}

{% block content %}
<section class="sign-up-content">
    <img src="../static/public/Secure_login.svg">

    <form action="GET" class="details">
        <h2>Sign Up</h2>

        <div class="form-group">
            <label for="username" class="display-6">Username:</label>
            <input type="text" id="username" class="form-control" placeholder="Your username" required>
        </div><!--form-group-->

        <div class="form-group">
            <label for="email" class="display-6">Email Address:</label>
            <input type="text" id="email" class="form-control" placeholder="Your email" required>
            <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div><!--form-group-->

        <div class="form-group">
            <label for="password" class="display-6">Password</label>
            <input type="password" id="password" class="form-control" required>
            <small id="password" class="form-text text-muted">We'll never share your password with anyone else.</small>
        </div><!--form-group-->

        <div class="form-group">
            <input type="checkbox" id="T&C" class="form-check-input" required>
            <label for="T&C" class="form-check-label">I have read and agree to the Terms & Conditions</label>
        </div><!--form-check-->

        <div class="form-group submit">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>

        <hr class="line">

        <button type="button" class="btn btn-outline-dark"> <!--NEED TO CENTRALIZE-->
            <i class="bi bi-google pe-2"></i>
            Sign Up with Google
        </button>

        <button type="button" class="btn btn-outline-dark"> <!--NEED TO CENTRALIZE-->
            <i class="bi bi-microsoft pe-2"></i>
            Sign Up with Microsoft
        </button>


    </form>
</section><!--sign-upo-content-->
{% endblock %} 
