{% extends "base.html" %} {% block content %}
<section class="sign-up-content">
    <img src="../static/public/Secure_login.svg" />

    <div class="form-container">
        <div class="form-title">Sign Up</div>

        <form method="GET" id="form-details">
            <div class="form-group">
                <input type="text" class="form-control" id="username" required />
                <label for="username">Username</label>
            </div>
        <!--form-group-->

            <div class="form-group">
                <input type="text" id="email" class="form-control" required />
                <label for="email">Email Address</label>
                <!-- <small id="email" class="form-text text-muted">We won't share your email with anyone else.</small> -->
            </div>
        <!--form-group-->

            <div class="form-group">
                <input type="password" class="form-control" id="password" required />
                <label for="password">Password</label>
                <!-- <small id="password" class="form-text text-muted">We'll never share your password with anyone else.</small> -->
            </div>
        <!--form-group-->

            <div class="form-group" id="terms">
                <input type="checkbox" id="T&C" class="form-check-input" required />
                <label for="T&C" class="form-check-label">I have read and agree to the Terms & Conditions</label>
            </div>
        <!--form-group-->

            <div class="form-group" id="sign-up-container">
                <input class="sign-up-btn" type="submit" value="Sign Up" />
            </div>
        <!--form-group-->

            <hr class="line" />

            <div class="form-group black">
                <button type="button" class="btn btn-outline-dark">
                    <i class="bi bi-google pe-2"></i>
                    Sign Up with Google
                </button>

                <button type="button" class="btn btn-outline-dark">
                    <i class="bi bi-microsoft pe-2"></i>
                    Sign Up with Microsoft
                </button>
            </div><!--form-group-->

        </form>
    </div><!--form-container-->
</section>
<!--sign-upo-content-->
{% endblock %}
