{% extends "base.html" %} {% block content %}
<section class="form-container">
    <img src="/static/public/Secure_login.svg">

    <div class="sign_up">
        <h1 id="title">Sign Up</h1>

        <form method="post">
            <div class="form-group">
                <input type="text" id="username" required>
                <label for="username">Username</label>
            </div><!--form-group-->

            <div class="form-group">
                <input type="text"id="email" required>
                <label for="email">Email Address</label>
            </div><!--form-group-->

            <div class="form-group">
                <input type="password" id="password" required>
                <label for="password">Password</label>
            </div><!--form-group-->

            <div class="form-group">
                <input type="password" id="confirm" required>
                <label for="password">Confirm Password</label>
            </div><!--form-group-->

            
            <div id="terms">
                <input type="checkbox" id="T&C" class="form-check-input" required />
                <label for="T&C" class="form-check-label">I agree to the Terms & Conditions</label>
            </div>
            
            <button class="sign_up_btn" type="submit" id="sign_up_btn">Sign Up</button>
        </form>
    </div><!--login-->
</section><!--form-container-->
{% endblock %}
