@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

* {
  font-family: Montserrat;
  font-size: auto;
  padding: 0;
  margin: 0;
}

section {
  margin-top: 100px;
}

/*navbar.html*/
/*Design of the navbar*/
nav {
  box-shadow: 1px 1px 1px #000;

  .container-fluid {
    margin-left: 1.5em;
    margin-right: 1.5em;

    .navbar-brand {
      img {
        height: 70px;
        width: 189px;
      }
    }

    .collapse {
      font-size: 1.2em;
      margin-left: 5em;
    }

    .btn-container {
      font-size: 1.5em;

      .btn {
        .btn-link {
          text-decoration: none;
        }
        .sign-up {
          color: #fff;
        }
      }

      .btn-outline-primary:hover {
        .login:hover {
          color: #fff;
        }

        .login {
          color: #fff;
        }
      }

      .btn-primary:hover {
        background-color: #fff;

        .sign-up:hover {
          color: #05a;
        }

        .sign-up {
          color: #05a;
        }
      }
    }
  }
}

/*home.html*/
/*Design of the hero section*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 540px;
    width: 540px;
    filter: drop-shadow(20px 10px 4px rgb(143, 46, 173));
  }

  .text {
    display: flex;
    flex-direction: column;

    .hero-text-4 {
      font-weight: bold;
      font-size: 5em;
    }

    h4 {
      margin-top: 40px;
      font-weight: lighter;
    }

    .CTA-btns {
      .btn-primary {
        margin: 1em;
        font-size: 1.5em;

        .btn-link {
          text-decoration: none;
          color: #fff;
        }
      }

      .btn-primary:hover {
        background-color: #fff;

        .btn-link {
          color: #05a;
        }

        .btn-link:hover {
          color: #05a;
        }
      }
    }
  }
}

/*Design of the services section*/
.services {
  .service-title {
    font-weight: bold;
    text-align: center;
  }

  .service-content > * {
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    column-gap: 1.5em;
    padding: 1em;

    .left-col,
    .right-col {
      .service {
        display: grid;
        grid-template-areas:
          "s1 s2"
          "s3 s4";
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 1fr 1fr;
      }

      .s1 {
        grid-area: s1;
      }

      .s2 {
        grid-area: s2;
      }

      .s3 {
        grid-area: s3;
      }

      .s4 {
        grid-area: s4;
      }
    }
  }
}

.workflow {
  .workflow-title {
    font-weight: bold;
    text-align: center;
  }

  .workflow-content {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    column-gap: 4em;

    .card > * {
      margin: 20px auto 0 auto;
    }

    .card:hover {
      transform: translate(0, -15px);
      transition: 0.2s;
    }

    .card {
      height: 500px;
      width: 388px;
      background-color: rgb(231, 231, 231);
      border-radius: 25px;
      filter: drop-shadow(10px 5px 2px rgb(68, 68, 68));
      transition: 0.2s;

      h2 {
        font-weight: bold;
        font-size: 2em;
        text-align: center;
      }

      .card-body {
        text-align: center;

        .card-text {
          text-align: left;
        }
      }
    }
  }
}

/*Design of the footer*/
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1em;

  .company {
    text-align: center;
    font-size: 1.2em;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .col-right,
    .col-left {
      list-style: none;
    }

    .col-left {
      .bi {
        display: inline-block;
        text-align: center;
        font-size: 1.5em;
        margin: 0.5em;
      }

      .bi-exclude {
        transform: scaleX(-1);
      }

      .list-title {
        font-weight: bold;
        font-size: 2em;
      }
    }

    .col-right {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2em;

      .link {
        height: 2.5em;
        width: 2.5em;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        transition: 0.4s;

        a {
          text-decoration: none;
          font-size: 1.7em;

          .bi {
            color: #000;
            text-align: center;
          }
        }
      }

      .link:hover {
        transform: translate(0, -15px);
        transition: 0.4s;
        cursor: pointer;

        .bi-linkedin:hover {
          color: #05a;
        }
      }

      .link:nth-child(1):hover {
        background-color: #3b5999;
        transition: 0.2s;

        .bi-facebook {
          color: #fff;
          transition: 0.2s;
        }
      }

      .link:nth-child(2):hover {
        background-color: rgb(143, 46, 173);
        transition: 0.2s;

        .bi-instagram {
          color: #fff;
          transition: 0.2s;
        }
      }

      .link:nth-child(3):hover {
        background-color: #05a;
        transition: 0.2s;

        .bi-linkedin {
          color: #fff;
          transition: 0.2s;
        }
      }
    }
  }
}

/*About Us.html*/
.about-content {
  display: grid;
  grid-template-areas: "about about about bug";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  margin-bottom: 100px;

  .about {
    grid-area: about;
    display: flex;
    flex-direction: column;

    p {
      margin-top: 20px;
    }
  }

  .bug {
    height: 523px;
    width: 680px;
    grid-area: bug;
  }
}

/*sign_up.html*/
.sign-up-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;

  img {
    height: 406px;
    width: 583px;
  }

  form {
    h2 {
      font-weight: bold;
    }

    .form-group {
      margin-top: 20px;
    }

    .line {
      margin-top: 20px;
      background-color: #000;
    }

    .submit {
      text-align: center;
    }

    .btn-outline-dark {
      text-align: center;
    }

    .btn-primary:hover {
      background: #fff;
      color: #05a;
    }
  }
}

/*login.html*/
.login-content {
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    height: 406px;
    width: 583px;
  }

  .form-container {
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid #000;

    animation: transitionIn 0.75s ease-in;

    @keyframes transitionIn {
      from {
        opacity: 0;
        transform: transitionX(-5px);
      }

      to {
        opacity: 1;
        transform: transitionX(0);
      }
    }

    .login-title {
      text-align: center;
      padding: 10px 0 20px 0;
      background: linear-gradient(120deg, #2980b9, #8e44ad);
      font-size: 30px;
      border-radius: 10px;
      color: #fff;
    }

    form {
      padding: 0 40px;
      box-sizing: border-box;
    }

    .form-group {
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 30px 0;

      .form-control {
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: normal;
        border: none;
        background: none;
        outline: none;

        span::before {
          content: "";
          position: absolute;
          top: 40px;
          left: 0;
          height: 2px;
          width: 0%;
          background: #2691d9;
          transition: 0.5s;
        }

        input:focus ~ label,
        input:valid ~ label {
          top: -5px;
          color: #2691d9;
        }

        input:focus ~ label::before,
        input:valid ~ span::before {
          width: 100%;
        }
      }

      label {
        position: absolute;
        color: #adadad;
        font-size: normal;
        pointer-events: none;
        transition: 0.5s;
      }
    }

    .remember,
    .sign-up-container {
      border-bottom: none;
    }

    .remember {
      margin: 10px 0 10px 5px;
      display: block;
    }

    .forgot {
      color: #a6a6a6;
      cursor: pointer;
      text-decoration: none;
      margin-bottom: 10px;
    }

    .forgot:hover {
      text-decoration: underline;
    }

    .login-btn {
      width: 100%;
      height: 50px;
      border: 1px solid;
      background: #05a;
      border-radius: 25px;
      font-size: 18px;
      color: #e9f4fb;
      font-weight: 700;
      outline: none;
      margin: 10px;
    }

    .login-btn:hover {
      border-color: #05a;
      transition: 0.5s ease;
      background-color: #fff;
      color: #05a;
    }

    .sign-up-container {
      margin: 30px 0;
      text-align: center;
      color: #666666;

      .signUp {
        color: #2691d9;
        text-decoration: none;
      }

      .signUp:hover {
        text-decoration: underline;
      }
    }
  }
}
