@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
* {
  font-family: Montserrat;
  font-size: auto;
}

section {
  margin-top: 100px;
}

/*navbar.html*/
/*Design of the navbar*/
nav {
  -webkit-box-shadow: 1px 1px 1px #000;
          box-shadow: 1px 1px 1px #000;
}

nav .container-fluid {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

nav .container-fluid .navbar-brand img {
  height: 70px;
  width: 189px;
}

nav .container-fluid .collapse {
  font-size: 1.2em;
  margin-left: 5em;
}

nav .container-fluid .btn-container {
  font-size: 1.5em;
}

nav .container-fluid .btn-container .btn .btn-link {
  text-decoration: none;
}

nav .container-fluid .btn-container .btn .sign-up {
  color: #fff;
}

nav .container-fluid .btn-container .btn-outline-primary:hover .login:hover {
  color: #fff;
}

nav .container-fluid .btn-container .btn-outline-primary:hover .login {
  color: #fff;
}

nav .container-fluid .btn-container .btn-primary:hover {
  background-color: #fff;
}

nav .container-fluid .btn-container .btn-primary:hover .sign-up:hover {
  color: #05a;
}

nav .container-fluid .btn-container .btn-primary:hover .sign-up {
  color: #05a;
}

/*home.html*/
/*Design of the hero section*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero img {
  height: 540px;
  width: 540px;
  -webkit-filter: drop-shadow(20px 10px 4px #8f2ead);
          filter: drop-shadow(20px 10px 4px #8f2ead);
}

.hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .text .hero-text-4 {
  font-weight: bold;
  font-size: 5em;
}

.hero .text h4 {
  margin-top: 40px;
  font-weight: lighter;
}

.hero .text .CTA-btns .btn-primary {
  margin: 1em;
  font-size: 1.5em;
}

.hero .text .CTA-btns .btn-primary .btn-link {
  text-decoration: none;
  color: #fff;
}

.hero .text .CTA-btns .btn-primary:hover {
  background-color: #fff;
}

.hero .text .CTA-btns .btn-primary:hover .btn-link {
  color: #05a;
}

.hero .text .CTA-btns .btn-primary:hover .btn-link:hover {
  color: #05a;
}

/*Design of the services section*/
.services .service-title {
  font-weight: bold;
  text-align: center;
}

.services .service-content > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  padding: 1em;
}

.services .service-content > * .left-col .service,
.services .service-content > * .right-col .service {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "s1 s2" "s3 s4";
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.services .service-content > * .left-col .service .service-no,
.services .service-content > * .right-col .service .service-no {
  font-weight: lighter;
}

.services .service-content > * .left-col .s1,
.services .service-content > * .right-col .s1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s1;
}

.services .service-content > * .left-col .s2,
.services .service-content > * .right-col .s2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: s2;
}

.services .service-content > * .left-col .s3,
.services .service-content > * .right-col .s3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s3;
}

.services .service-content > * .left-col .s4,
.services .service-content > * .right-col .s4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: s4;
}

/*Design of the footer*/
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1em;
}

.footer .company {
  text-align: center;
  font-size: 1.2em;
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .links .col-right,
.footer .links .col-left {
  list-style: none;
}

.footer .links .col-left .bi {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em;
}

.footer .links .col-left .bi-exclude {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.footer .links .col-left .list-title {
  font-weight: bold;
  font-size: 2em;
}

.footer .links .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.footer .links .col-right .link {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .links .col-right .link a {
  text-decoration: none;
  font-size: 1.7em;
}

.footer .links .col-right .link a .bi {
  color: #000;
  text-align: center;
}

.footer .links .col-right .link:hover {
  -webkit-transform: translate(0, -15px);
          transform: translate(0, -15px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.footer .links .col-right .link:hover .bi-linkedin:hover {
  color: #05a;
}

.footer .links .col-right .link:nth-child(1):hover {
  background-color: #3b5999;
}

.footer .links .col-right .link:nth-child(1):hover .bi-facebook {
  color: #fff;
}

.footer .links .col-right .link:nth-child(2):hover {
  background-color: #8f2ead;
}

.footer .links .col-right .link:nth-child(2):hover .bi-instagram {
  color: #fff;
}

.footer .links .col-right .link:nth-child(3):hover {
  background-color: #05a;
}

.footer .links .col-right .link:nth-child(3):hover .bi-linkedin {
  color: #fff;
}

/*About Us.html*/
.about-content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "about about about bug";
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.about-content .about {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: about;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-content .about p {
  margin-top: 20px;
}

.about-content .bug {
  height: 523px;
  width: 680px;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: bug;
}

/*login.html*/
.login-content,
.sign-up-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-content img,
.sign-up-content img {
  height: 406px;
  width: 583px;
}

.login-content form h2,
.sign-up-content form h2 {
  font-weight: bold;
}

.login-content form .form-group,
.sign-up-content form .form-group {
  margin-top: 20px;
}

.login-content form .line,
.sign-up-content form .line {
  margin-top: 20px;
  background-color: #000;
}

.login-content form .submit,
.sign-up-content form .submit {
  text-align: center;
}

.login-content form .btn-outline-dark,
.sign-up-content form .btn-outline-dark {
  text-align: center;
}

.login-content form .btn-primary:hover,
.sign-up-content form .btn-primary:hover {
  background: #fff;
  color: #05a;
}

/*Workflow.html*/
.workflow {
  margin: 40px 10px 0 10px;
}

.workflow .workflow-title {
  font-weight: bolder;
  margin-left: 100px;
}

.workflow .workflow-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  -webkit-column-gap: 4em;
          column-gap: 4em;
}

.workflow .workflow-content .card > * {
  margin: 20px auto 0 auto;
}

.workflow .workflow-content .card:hover {
  -webkit-transform: translate(0, -15px);
          transform: translate(0, -15px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.workflow .workflow-content .card {
  height: 500px;
  width: 388px;
  background-color: #e7e7e7;
  border-radius: 25px;
  -webkit-filter: drop-shadow(10px 5px 2px #444444);
          filter: drop-shadow(10px 5px 2px #444444);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.workflow .workflow-content .card h2 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
/*# sourceMappingURL=Global.css.map */