@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
* {
  font-family: Montserrat;
  font-size: auto;
}

section {
  margin-top: 100px;
  width: 100%;
}

/*navbar.html*/
/*Design of the navbar*/
nav {
  -webkit-box-shadow: 1px 1px 1px #000;
          box-shadow: 1px 1px 1px #000;
}

nav .container-fluid {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

nav .container-fluid .navbar-brand {
  font-size: 2em;
}

nav .container-fluid .collapse {
  font-size: 1.2em;
  margin-left: 5em;
}

nav .container-fluid .btn-container {
  font-size: 1.5em;
  line-height: inherit;
}

nav .container-fluid .btn-container .login {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .container-fluid .btn-container .login:hover {
  background: #fff;
  color: #05a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*index.html*/
/*Design of the hero section*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero img {
  height: 540px;
  width: 540px;
  -webkit-filter: drop-shadow(20px 10px 4px #8f2ead);
          filter: drop-shadow(20px 10px 4px #8f2ead);
}

.hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .text .hero-text-4 {
  font-weight: bold;
  font-size: 5em;
}

.hero .text h4 {
  margin-top: 40px;
  font-weight: lighter;
}

.hero .text .btns .btn {
  margin: 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1.5em;
}

.hero .text .btns .btn:hover {
  background: #fff;
  color: #05a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*Design of the services section*/
.services .title {
  font-weight: bold;
  text-align: center;
}

.services .service-content > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  padding: 1em;
}

.services .service-content > * .left-col .service,
.services .service-content > * .right-col .service {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "s1 s2" "s3 s4";
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.services .service-content > * .left-col .service .service-no,
.services .service-content > * .right-col .service .service-no {
  font-weight: lighter;
}

.services .service-content > * .left-col .s1,
.services .service-content > * .right-col .s1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s1;
}

.services .service-content > * .left-col .s2,
.services .service-content > * .right-col .s2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: s2;
}

.services .service-content > * .left-col .s3,
.services .service-content > * .right-col .s3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s3;
}

.services .service-content > * .left-col .s4,
.services .service-content > * .right-col .s4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: s4;
}

/*Design of the footer*/
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1em;
}

.footer .company {
  text-align: center;
  font-size: 1.2em;
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .links .col-right,
.footer .links .col-left {
  list-style: none;
}

.footer .links .col-left .bi {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em;
}

.footer .links .col-left .bi-exclude {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.footer .links .col-left .list-title {
  font-weight: bold;
  font-size: 2em;
}

.footer .links .col-right .list-item {
  line-height: 35px;
  text-decoration: none;
  margin: 1em;
}

.footer .links .col-right .list-item .bi {
  color: #fff;
  font-size: 1.5em;
}
/*# sourceMappingURL=Global.css.map */