@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

* {
  font-family: Montserrat;
  font-size: auto;
  padding: 0;
  margin: 0;
}

section {
  position: relative;
  padding: 50px 5vw;
  overflow: auto hidden;
}

/*navbar.html*/
/*Custom css for navbar*/
.nav-item-container {
  height: 48px;
  padding: 0 8px;

  .nav-underline-effect {
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    margin: 0;
  }

  .nav-underline-effect::after {
    content: "";
    position: absolute;
    background-color: #e9467d;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: width 0.2s ease-in-out;
  }
}

.nav-item-container:hover {
  .nav-underline-effect {
    color: #000000;
  }

  .nav-underline-effect::after {
    width: 100%;
  }
}

/*customButtonComponent.html*/
/*Custom hover effects for the button*/

/*index.html*/
/*Design of the hero section*/
#main {
  margin: 0;

  .hero {
    img {
      height: 540px;
      width: 540px;
      filter: drop-shadow(20px 10px 4px rgb(143, 46, 173));
    }

    .text {
      .hero-text-4 {
        font-size: 3.5em;
      }

      h4 {
        margin-top: 20px;
        font-weight: lighter;
      }

      .CTA-btns {
        margin-top: 20px;
      }

      .CTA-btns > * {
        margin: 10px;
      }
    }
  }

  /*Design of the services section*/
  .services > * {
    padding: 0;
    margin: 0;
  }

  .services {
    background-color: #2565c7;

    .service-content > * {
      margin-top: 100px;
      padding: 1em;
    }

    #triangle {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);

      svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 102px;
      }

      .shape-fill {
        fill: #202731;
      }
    }
  }

  .workflow {
    background-color: #202731;

    #bottom-tilt {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);

      svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 126px;
        transform: rotateY(180deg);
      }

      .shape-fill {
        fill: #2565c7;
      }
    }

    .workflow-title {
      color: #fff;
      padding: 1em;
    }

    .workflow-content {
      margin-top: 20px;
      column-gap: 4em;

      .card > * {
        margin: 20px auto 0 auto;
      }

      .card:hover {
        transform: translate(0, -15px);
        transition: 0.2s;
      }

      .card {
        height: 500px;
        width: 388px;
        max-width: 30vw;
        background-color: rgb(231, 231, 231);
        border-radius: 25px;
        filter: drop-shadow(10px 5px 2px rgb(68, 68, 68));
        transition: 0.2s;

        .card-body {
          #icon {
            height: 150px;
            width: 200px;
          }
        }
      }
    }
  }

  /*Design of the footer*/
  .footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1em;

    .company {
      font-size: 1.2em;
    }

    .links {
      .col-left {
        .bi {
          display: inline-block;
          font-size: 1.5em;
          margin: 0.5em;
        }

        .bi-exclude {
          transform: scaleX(-1);
        }

        .list-title {
          font-size: 2em;
        }
      }

      .col-right {
        column-gap: 2em;

        .link {
          height: 2.5em;
          width: 2.5em;
          border-radius: 50%;
          background-color: #fff;
          transition: 0.4s;

          a {
            text-decoration: none;
            font-size: 1.7em;

            .bi {
              color: #000;
              text-align: center;
            }
          }
        }

        .link:hover {
          transform: translate(0, -15px);
          transition: 0.4s;
          cursor: pointer;

          .bi-linkedin:hover {
            color: #05a;
          }
        }

        .link:nth-child(1):hover {
          background-color: #3b5999;
          transition: 0.2s;

          .bi-facebook {
            color: #fff;
            transition: 0.2s;
          }
        }

        .link:nth-child(2):hover {
          background-color: rgb(143, 46, 173);
          transition: 0.2s;

          .bi-instagram {
            color: #fff;
            transition: 0.2s;
          }
        }

        .link:nth-child(3):hover {
          background-color: #05a;
          transition: 0.2s;

          .bi-linkedin {
            color: #fff;
            transition: 0.2s;
          }
        }
      }
    }
  }
}

/*About Us.html*/
.about-content {
  margin-bottom: 100px;

  .about {
    p {
      margin-top: 20px;
    }
  }

  .bug {
    height: 523px;
    width: 680px;
    grid-area: bug;
  }
}

.form-container {
  animation: transitionIn 0.75s ease-in;

  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: transitionX(-5px);
    }

    to {
      opacity: 1;
      transform: transitionX(0);
    }
  }

  img {
    height: 406px;
    width: 538px;
  }

  .login {
    margin-bottom: 30px;
  }

  .login,
  .sign_up {
    width: 400px;
    background: white;

    #title {
      margin-top: 20px;
    }

    /*Design of the form*/
    form {
      padding: 0 40px;
      box-sizing: border-box;

      .form-group {
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;

        label {
          position: absolute;
          top: 50%;
          left: 50%;
          color: #adadad;
          transform: translate(-50%);
          pointer-events: none;
          transition: 0.5s;
        }

        input {
          width: 100%;
          padding: 0 5px;
          height: 40px;
          border: none;
          outline: none;
        }

        input:focus ~ label,
        input:valid ~ label {
          top: -5px;
          color: #2691d9;
        }

        input:focus ~ label::before,
        input:valid ~ span::before {
          width: 100%;
        }

        span::before {
          content: "";
          position: absolute;
          top: 40px;
          left: 0;
          height: 2px;
          width: 0%;
          background: #2691d9;
          transition: 0.5s;
        }
      }

      /*design of the forgot password section*/
      .forgot {
        margin: -5px 0 20px 5px;

        .forgot_link {
          color: #a6a6a6;
          cursor: pointer;
          text-decoration: none;
        }
      }

      .forgot:hover {
        text-decoration: underline;
      }

      /*Design of the submit option*/
      #login,
      #sign_up_btn {
        width: 100%;
        height: 50px;
        border: 1px solid;
        background: #2565c7;
        border-radius: 10px;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
      }

      #login:hover,
      #sign_up_btn:hover {
        border-color: #2565c7;
        transition: 0.5s ease;
      }

      #dark {
        border-bottom: none;
        text-align: center;

        .btn-outline-dark {
          margin: 5px;
        }
      }

      #terms {
        margin-bottom: 20px;
      }

      /*Design of the sign up link*/
      #not_member {
        margin: 30px 0;
        text-align: center;
        font-size: 16px;
        color: #666666;

        #sign_up_link {
          color: #2691d9;
          text-decoration: none;
        }

        #sign_up_link:hover {
          text-decoration: underline;
        }
      }
    }

    #sign_up_btn {
      margin-bottom: 20px;
    }
  }
}
