<input type="checkbox" id="check"> 
<label class="chat-btn" for="check" style="z-index:9999999;"> 
    <i class="bi bi-chat-dots comment"></i>
    <i class="bi bi-x close" style="margin-top: 7px;"></i>    
</label>
<div class="wrapper" style="position:fixed;z-index:9999999">
    <div class="header">
        <h6>Chat Support</h6>
    </div>
    <div class="chatbox" style="overflow-y:scroll;height:12em;">
        <p class="botText">
            <span>Hi! I'm Johnny, your guide to Vision Core and its services.</span>
        </p>
    </div>
    <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Type something..." />
    </div>
</div>
<script>
    function getBotResponse() {
      var rawText = $("#textInput").val();
      var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
      $("#textInput").val("");
      $(".chatbox").append(userHtml);
      document
        .querySelector(".chatbox").lastChild
        .scrollIntoView({ block: "end", behavior: "smooth" });
      $.get("/get", { msg: rawText }).done(function(data) {
        var botHtml = '<p class="botText"><span>' + data + "</span></p>";
        $(".chatbox").append(botHtml);
        document
          .querySelector(".chatbox").lastChild
          .scrollIntoView({ block: "end", behavior: "smooth" });
      });
    }
    $("#textInput").keypress(function(e) {
      if (e.which == 13) {
        getBotResponse();
      }
    });
</script>
    
<style>
    .chat-btn {
        position: fixed;
        right: 1em;
        bottom: 1em;
        cursor: pointer
    }
    
    .chat-btn .close {
        display: none
    }
    
    .chat-btn i {
        transition: all 0.9s ease;
    }
    
    #check:checked~.chat-btn i {
        display: block;
        pointer-events: auto;
        transform: rotate(180deg)
    }
    
    #check:checked~.chat-btn .comment {
        display: none
    }
    
    .chat-btn i {
        font-size: 22px;
        color: #fff !important
    }
    
    .chat-btn {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: blue;
        color: #fff;
        font-size: 22px;
        border: none
    }
    
    .wrapper {
        position: absolute;
        right: 20px;
        bottom: 100px;
        width: 300px;
        background-color: #fff;
        border-radius: 5px;
        display: none;
        transition: all 0.4s
    }
    
    #check:checked~.wrapper {
        display: block;
    }
    
    .header {
        padding: 13px;
        background-color: blue;
        border-radius: 5px 5px 0px 0px;
        color: #fff;
    }
        
    #check {
        display: none !important
    }

    .chatbox {
        padding-top: 10px;
    }

    .botText {
        width: 75%;
        background: #2565c7;
        color: #fff;
        border-radius: 1em;
        padding: 1em 1em;
        float: left;
        margin-left: 0.5em;
    }

    .userText {
        width: 75%;
        background: #808080;
        color: #fff;
        border-radius: 1em;
        padding: 1em 1em;
        margin: 0.5em 0;
        float: right;
        margin-right: 0.5em;
    }

    #textInput {
        width: 100%;
        border: 1px solid black;
    }

    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>    
