<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision Core - {{ title }}</title>

    <link rel="icon" href="/static/public/title-logo.png" type="image/x-icon">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Global.css') }}"> <!-- import custom css -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/CustomBootstrap.css') }}"> <!-- import bootstrap classes -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Main.css') }}"> <!-- import tailwindcss utilities -->
    <link rel= "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> <!-- import bootstrap icons -->
</head>
<body>
    {% include 'includes/navbar.html' %} 

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        
    {% block content %}
    {% endblock %}

    {% block scripts %}
    <!-- Popper 2.10.2, Bootstrap 5.1.2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <!--Bootstrap 4.6 J-Query-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>

    <!--J-Query-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!--Custom Javascript-->
    <script src="../static/navBarOnScroll.js"></script>
    {% endblock %}
</body>
</html>